body{
    background-color: #EBF5F0;
}
.cont{
    width: 100%;
    height: 100vh;
    
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.text2page{
    width: 43%;
    height: 100vh;
    background-image: url(/easypaisa/img/logoe.png),url(/navbar/img/3e.png);
    background-size: 180px,40vw 40vh;
    background-position: left top,right bottom;
    background-repeat: no-repeat;
    padding-right: 140px;

}
.text2page p{
    font-size: x-large;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.secondpage{
    width: 80%;
    height: 100vh;
    background-image:url(/navbar/img/2e.webp);
    background-size: 55vw 100%;
    background-repeat: no-repeat;
}

